body,
html {
  margin: 0 auto;
  height: 100%;
}

#container-body {
  background-color: coral;
  width: 100%;
}

img {
  height: 10rem;
  width: 10rem;
}

.test {
  background-color: lawngreen;
}

.fixed-container {
  width: 100%;
}

.fixed-sidebar {
}

.about {
  height: 100%;
}
.cv {
  height: 100%;
}
.skills {
  height: 100%;
}

.page {
  width: 75%;
}

@media (min-width: 768px) {
  #sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
  }
}
