body,
html {
  margin: 0 auto;
  height: 100%;
}

#container-body {
  background-color: coral;
  width: 100%;
}

img {
  height: 10rem;
  width: 10rem;
}

.test {
  background-color: lawngreen;
}

.fixed-container {
}

.fixed-sidebar {
}

.about-section {
  height: 720px;
}
.cv-section {
  height: 720px;
}
.skills-section {
  height: 720px;
}
.projects-section {
  height: 720px;
}
.contact-section {
  height: 720px;
}

@media (min-width: 768px) {
  #sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
  }
}
