<%- include("partials/header") %>
<h1>Create a New Shop</h1>

<form action="/market" method="POST">
  <input type="text" name="name" id="" placeholder="name" />
  <input type="text" name="image" id="" placeholder="image url" />
  <button>Submit</button>
</form>
<a href="/market">Go back</a>
<%- include("partials/footer") %>
